# Q3: Recent water data and pH value
## 1. Data preparation: Make a subset which only refers to pH data. Add a new column called ‘SAFE-PH’. It is ‘yes’ if pH is within 6.5-8.5 and ‘no’ otherwise, i.e., <= 6.5 and > 8.5

In [201]:
#Creating another CSV file and removing those lines which has bad input (multiple commas without double quatation)
file1 = open('WaterAtlas-ManySites.csv', 'r')
Lines = file1.readlines()

file1 = open('WaterAtlas-ManySites-Updated.csv', 'w')
count = 0
for line in Lines:
    length = len(line.split(','))
    if length==17:
        file1.writelines(line)
file1.close()

In [202]:
#Load newly created CSV file into DataFrame
import pandas as pd
import numpy as np
# Load data into Dataframe 
csvData = pd.read_csv('WaterAtlas-ManySites-Updated.csv')
csvData.head()

/home/raxitg/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DataSourceName,DataSourceCode,StationID,ActualStationID,Latitude_DD,Longitude_DD,SampleDate,SampleTime,ActivityDepth,ActivityDepthUnit,Characteristic,ResultValue,ResultUnit,ValueQualifier,ResultComment,WaterbodyID,WaterbodyName
0,LAKEWATCH Supplemental Water Quality Sampling,LAKEWATCH_SUPP,Bugg Springs-Lake,NaN,28.75361,-81.90444,1991-08-18 00:00:00.000,00:00:00,NaN,NaN,pH,7.5,None,NaN,NaN,8509.0,Bugg Spring
1,LAKEWATCH Supplemental Water Quality Sampling,LAKEWATCH_SUPP,Bugg Springs-Lake,NaN,28.75361,-81.90444,1991-08-18 00:00:00.000,00:00:00,NaN,NaN,Phosphorus as P,70.0,ug/l,NaN,NaN,8509.0,Bugg Spring
2,LAKEWATCH Supplemental Water Quality Sampling,LAKEWATCH_SUPP,Bugg Springs-Lake,NaN,28.75361,-81.90444,1991-08-18 00:00:00.000,00:00:00,NaN,NaN,Specific conductance,270.0,umho,NaN,NaN,8509.0,Bugg Spring
3,LAKEWATCH Supplemental Water Quality Sampling,LAKEWATCH_SUPP,Bugg Springs-Lake,NaN,28.75361,-81.90444,1991-08-18 00:00:00.000,00:00:00,NaN,NaN,Nitrogen,670.0,ug/l,NaN,NaN,8509.0,Bugg Spring
4,LAKEWATCH Supplemental Water Quality Sampling,LAKEWATCH_SUPP,Bugg Springs-Lake,NaN,28.75361,-81.90444,1991-08-18 00:00:00.000,00:00:00,NaN,NaN,Sodium,5.0,mg/l,NaN,NaN,8509.0,Bugg Spring

In [203]:
#Validating Data Types for each columns
csvData.dtypes

DataSourceName        object
DataSourceCode        object
StationID             object
ActualStationID       object
Latitude_DD          float64
Longitude_DD         float64
SampleDate            object
SampleTime            object
ActivityDepth        float64
ActivityDepthUnit     object
Characteristic        object
ResultValue          float64
ResultUnit            object
ValueQualifier        object
ResultComment         object
WaterbodyID          float64
WaterbodyName         object
dtype: object

In [204]:
#Validating no of unique values in each fields
csvData.nunique()

DataSourceName          12
DataSourceCode          13
StationID               48
ActualStationID         48
Latitude_DD             43
Longitude_DD            45
SampleDate           18918
SampleTime             323
ActivityDepth           25
ActivityDepthUnit        2
Characteristic          74
ResultValue           7035
ResultUnit              18
ValueQualifier          41
ResultComment          732
WaterbodyID             10
WaterbodyName           10
dtype: int64

In [205]:
#Validating if there are multiple WaterBodyID present in the StationID. 
#This can be helpful to make decision on weather this is useful in the prediction or not.
print(csvData.groupby('StationID').WaterbodyID.unique())

StationID
02237010                  [1123.0]
02237050                  [1123.0]
02237206                  [1123.0]
02237293                  [1123.0]
02237370                  [7844.0]
11367                     [8509.0]
20020324                  [1123.0]
20020330                  [1123.0]
20020464                  [1123.0]
20020562                  [1152.0]
22519                     [1123.0]
42420                     [8296.0]
429591                    [8509.0]
44472                     [1152.0]
44530                     [1123.0]
54153                     [1123.0]
54165                     [1123.0]
54170                     [8296.0]
57032                     [1123.0]
732                       [7844.0]
79092                     [1123.0]
8108                         [nan]
8136                         [nan]
817                       [1123.0]
818                       [1123.0]
820                       [1123.0]
8713                         [nan]
898                       [8110.0]
921                       [8186.0]
940                       [8509.0]
941                       [8509.0]
Bugg Springs-Lake         [8509.0]
Bugg Springs-pipe-Lake    [8509.0]
Church-Lake               [7844.0]
Crown-Lake                [8340.0]
Eagle-Lake                [8214.0]
LAK-BUSPRINGS-1           [1152.0]
LAK-BUSPRINGS-2           [1152.0]
LAK-CROWN-1               [8340.0]
LAK-CROWN-2               [8340.0]
LAK-CROWN-3               [8340.0]
LAK-ROYAL-1               [8341.0]
LAK-ROYAL-2               [8341.0]
LAK-ROYAL-3               [8341.0]
PLRVBRIDRD                [1123.0]
Royal-Lake                [8341.0]
Turkey SE-Lake            [8186.0]
Turkey-Lake               [8186.0]
Name: WaterbodyID, dtype: object

In [206]:
#Calculating value counts for each characteristics.
print(csvData['Characteristic'].value_counts())

Flow                                               44070
Precipitation                                       4331
Phosphorus as P                                     2023
Nitrogen                                            1749
Secchi disk depth                                   1395
Specific conductance                                 980
Trophic State Index: Florida DEP                     470
pH                                                   469
True Color                                           456
Dissolved oxygen (DO)                                422
Chloride                                             355
Turbidity                                            346
Total Suspended Solids (TSS)                         280
Calcium                                              267
Potassium                                            265
Sodium                                               264
Cloud cover                                          264
Total Organic Carbon (TOC)                           246
Wind velocity                                        244
Magnesium                                            237
Pheophytin-a                                         234
Weather condition (WMO code 4677) (choice list)      231
Chlorophyll b                                        216
Chlorophyll c                                        216
Chlorophyll/Pheophytin ratio                         189
Iron                                                 182
Manganese                                            176
Zinc                                                 175
Copper                                               172
Arsenic                                              171
Cadmium                                              170
Lead                                                 169
Chromium                                             169
Aluminum                                             167
Selenium                                             166
Nickel                                               165
Barium                                               164
Silver                                               163
Strontium                                            162
Dissolved Solids                                     160
Molybdenum                                           150
Silicate                                             133
Thallium                                             120
Beryllium                                            120
Vanadium                                             119
Antimony                                             119
Tin                                                  113
Dissolved oxygen saturation                          110
Silicon as Si                                        108
Salinity                                              73
Color                                                 53
Silica                                                32
Apparent Color                                        28
Total Coliform                                        27
Fecal Coliform                                        26
Depth                                                 23
Fluorides                                             13
Volatile Suspended Solids                             10
Enterococcus Group Bacteria                            7
Escherichia coli                                       6
Mercury                                                5
Secchi disk depth (choice list)                        3
Boron                                                  2
Heptachlor                                             1
Toxaphene                                              1
Sucralose                                              1
Radium-228                                             1
DDT                                                    1
Endrin                                                 1
Total Inorganic Carbon                                 1
Aldrin                                                 1
Radium-226                                             1
Cobalt                                                 1
Dieldrin                                               1
Name: Characteristic, dtype: int64

In [207]:
#Validating if each station IDs haave unique Latitude and Longitude so we can ignore in predictions 
print(csvData.groupby('StationID').Latitude_DD.unique())

StationID
02237010                               [28.6431]
02237050                               [28.6786]
02237206                           [28.71470001]
02237293                           [28.74419999]
02237370                                [28.645]
11367                               [28.7519867]
20020324                             [28.747222]
20020330                             [28.679167]
20020464                           [28.73724027]
20020562                               [28.7541]
22519                              [28.75398722]
42420                               [28.6647125]
429591                             [28.75196816]
44472                     [28.7525, 28.75284697]
44530                               [28.7480325]
54153                              [28.75083333]
54165                              [28.72027778]
54170                              [28.66361111]
57032                               [28.7439511]
732                                [28.64211058]
79092                                [28.754084]
8108                                       [nan]
8136                                       [nan]
817                                [28.67945609]
818                                [28.74789311]
820                                [28.73776832]
8713                                       [nan]
898                                [28.63274618]
921                                [28.69829046]
940                                [28.75194278]
941                                [28.75194278]
Bugg Springs-Lake                     [28.75361]
Bugg Springs-pipe-Lake             [28.75195833]
Church-Lake                           [28.64625]
Crown-Lake                           [28.660083]
Eagle-Lake                            [28.73417]
LAK-BUSPRINGS-1                        [28.7522]
LAK-BUSPRINGS-2                        [28.7525]
LAK-CROWN-1                            [28.6601]
LAK-CROWN-2                            [28.6601]
LAK-CROWN-3                            [28.6605]
LAK-ROYAL-1                            [28.6614]
LAK-ROYAL-2                            [28.6628]
LAK-ROYAL-3                            [28.6649]
PLRVBRIDRD                         [28.67961503]
Royal-Lake                           [28.662833]
Turkey SE-Lake                     [28.69814444]
Turkey-Lake                           [28.70128]
Name: Latitude_DD, dtype: object

In [197]:
#Based on the analysis below columns are useful for the predictions 
#StationID,SampleDate,Characteristic,ResultValue,ResultUnit,WaterbodyID

In [208]:
pd.set_option('display.max_rows', 105)
csvData['SampleDate'] = pd.to_datetime(csvData.SampleDate)
csvData['SampleDate'] = csvData['SampleDate'].dt.strftime('%Y-%m-%d %H:%M')
csvData['SampleDate']

0        1991-08-18 00:00
1        1991-08-18 00:00
2        1991-08-18 00:00
3        1991-08-18 00:00
4        1991-08-18 00:00
               ...
64183    2015-01-25 00:00
64184    2015-01-26 00:00
64185    2015-01-27 00:00
64186    2015-01-28 00:00
64187    2015-01-29 00:00
Name: SampleDate, Length: 64188, dtype: object

In [209]:
#Validating sum of null values 
for column in csvData.columns:
    print(column,csvData[column].isnull().sum())

DataSourceName 0
DataSourceCode 0
StationID 0
ActualStationID 60007
Latitude_DD 27
Longitude_DD 27
SampleDate 27
SampleTime 49379
ActivityDepth 49699
ActivityDepthUnit 50116
Characteristic 27
ResultValue 62
ResultUnit 1017
ValueQualifier 58579
ResultComment 55131
WaterbodyID 27
WaterbodyName 27

In [221]:
#Creating data frame for "SampleDate", "Characteristic" , "Result_Value" and StationID. 
uniqueParameters = csvData['Characteristic'].unique()
from collections import OrderedDict
def valuesByDate(x):
    #print(x['Parameter'].unique())
    d = {}
    for index,row in x.iterrows():
        d[row['Characteristic']] = row['ResultValue']
    for parameter in uniqueParameters:
        if parameter not in d:
            d[parameter] = np.NaN
    return pd.Series(OrderedDict(sorted(d.items())))

parametersByDate = csvData.groupby(['SampleDate','StationID']).apply(valuesByDate)
parametersByDate

TypeError: '<' not supported between instances of 'float' and 'str'

In [220]:
#Ignoring rows where pH values are not present 
parametersByDate = parametersByDate[~parametersByDate['pH'].isna()]

In [212]:
parametersByDate

,,Aldrin,Aluminum,Antimony,Apparent Color,Arsenic,Barium,Beryllium,Boron,Cadmium,Calcium,...,Toxaphene,Trophic State Index: Florida DEP,True Color,Turbidity,Vanadium,Volatile Suspended Solids,Weather condition (WMO code 4677) (choice list),Wind velocity,Zinc,pH
SampleDate,StationID,,,,,,,,,,,,,,,,,,,,,
1968-08-06 00:00,02237370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.70000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.60
1968-09-18 00:00,02237293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.10
1968-10-16 00:00,02237370,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.60000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,5.50
1968-12-24 00:00,02237293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00
1969-01-28 00:00,02237293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.30000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-02 11:30,44472,NaN,9.94,0.5,NaN,0.5,6.43,0.05,NaN,0.09791,51.24042,...,NaN,NaN,8.13444,0.50000,4.19765,NaN,20.0,NaN,5.0,7.55
2020-12-15 10:36,44530,NaN,61.53,0.5,NaN,0.5,7.71,0.05,NaN,0.05000,22.50128,...,NaN,NaN,61.07558,0.50000,2.09548,NaN,20.0,NaN,5.0,6.99
2021-02-15 11:03,44530,NaN,36.97,0.5,NaN,0.5,7.40,0.05,NaN,0.05000,25.02120,...,NaN,NaN,48.20927,0.52341,1.66309,NaN,20.0,NaN,5.0,6.75
2021-03-03 11:28,429591,NaN,8.74,0.5,NaN,0.5,7.00,0.05,NaN,0.05000,58.85447,...,NaN,NaN,4.20848,0.50000,3.31147,NaN,NaN,NaN,5.0,7.37
2021-03-03 11:34,44472,NaN,8.47,0.5,NaN,0.5,6.65,0.05,NaN,0.05287,56.56712,...,NaN,NaN,5.94018,0.50000,3.33221,NaN,20.0,NaN,5.0,7.39

In [188]:
# Validating total no of null values in different parameter. 
#This will help to remove some columns where there are so many null values 
parametersByDate.isna().sum().sort_values()

StationID                 0
pH                        0
Specific conductance      2
Phosphorus as P          21
Dissolved oxygen (DO)    49
Nitrogen                 57
Secchi disk depth        90
Chloride                 92
Turbidity                99
dtype: int64

In [213]:
#Dropping other parameters as there are many null values
parametersByDate = parametersByDate.reset_index()[['StationID','pH', 'Specific conductance', 'Phosphorus as P',
       'Dissolved oxygen (DO)', 'Nitrogen', 'Secchi disk depth', 'Chloride','Turbidity']]

In [214]:
parametersByDate.to_csv('waterdata_specific_columns_multisite.csv', index=False)

In [215]:
parametersByDate

,StationID,pH,Specific conductance,Phosphorus as P,Dissolved oxygen (DO),Nitrogen,Secchi disk depth,Chloride,Turbidity
0,02237370,5.60,292.0,140.0,NaN,NaN,NaN,38.00,NaN
1,02237293,6.10,69.0,NaN,NaN,NaN,NaN,12.00,NaN
2,02237370,5.50,220.0,10.0,NaN,870.0,NaN,30.00,NaN
3,02237293,6.00,87.0,NaN,NaN,NaN,NaN,18.00,NaN
4,02237293,5.90,78.0,NaN,NaN,NaN,NaN,15.00,NaN
...,...,...,...,...,...,...,...,...,...
393,44472,7.55,335.2,90.0,3.75,749.1,2.296560,15.96,0.50000
394,44530,6.99,154.2,74.8,6.96,955.8,1.312320,15.56,0.50000
395,44530,6.75,158.0,43.1,5.77,975.7,2.034096,16.03,0.52341
396,429591,7.37,340.5,85.8,2.34,712.4,21.325200,16.35,0.50000
397,44472,7.39,338.5,88.8,2.93,711.1,1.804440,16.34,0.50000

In [216]:
#Validating correlation values to decide on the fields weather to keep for the prediction or not
#Assuming correlation values are high (consider negative values) to pH are helpful to achieve better accuracy
parametersByDate.corr()

,pH,Specific conductance,Phosphorus as P,Dissolved oxygen (DO),Nitrogen,Secchi disk depth,Chloride,Turbidity
pH,1.000000,0.469560,0.407636,-0.213520,-0.341567,0.049813,-0.326783,-0.090976
Specific conductance,0.469560,1.000000,0.370109,-0.397959,-0.328663,0.189221,0.147731,-0.007030
Phosphorus as P,0.407636,0.370109,1.000000,-0.358264,-0.090079,0.217924,-0.128869,0.076891
Dissolved oxygen (DO),-0.213520,-0.397959,-0.358264,1.000000,0.220809,-0.196995,0.219479,-0.016539
Nitrogen,-0.341567,-0.328663,-0.090079,0.220809,1.000000,-0.007357,0.167972,0.204737
Secchi disk depth,0.049813,0.189221,0.217924,-0.196995,-0.007357,1.000000,0.097769,-0.080068
Chloride,-0.326783,0.147731,-0.128869,0.219479,0.167972,0.097769,1.000000,0.084983
Turbidity,-0.090976,-0.007030,0.076891,-0.016539,0.204737,-0.080068,0.084983,1.000000

In [217]:
#Assigning values based on mean values for different pH values for the field where correlation is high with pH.
pd.set_option('display.max_rows', 162)
print(parametersByDate.groupby('pH')['Chloride'].mean())

pH
4.90    16.400000
5.17          NaN
5.18    11.900000
5.20    24.500000
5.25    18.000000
5.43    15.002410
5.47    32.300000
5.50    23.625000
5.60    30.500000
5.68    12.477310
5.70    16.000000
5.79          NaN
5.80    14.000000
5.80    14.200000
5.82          NaN
5.83          NaN
5.90    19.325000
5.94          NaN
5.95    11.858375
5.96    19.920000
5.97          NaN
6.00    18.500000
6.07          NaN
6.10    17.852385
6.12    19.610000
6.13    14.800000
6.18          NaN
6.20    12.340000
6.24    16.676400
6.27          NaN
6.30    22.300000
6.32    17.220000
6.33    17.823000
6.35    12.820000
6.37    14.550000
6.38          NaN
6.40    10.000000
6.47    25.000000
6.50          NaN
6.55          NaN
6.56          NaN
6.57    20.000000
6.58          NaN
6.60    15.666667
6.61    15.840000
6.62    11.490000
6.63          NaN
6.64    11.291093
6.65    15.380000
6.68    16.801717
6.69    14.130945
6.70    24.462857
6.71          NaN
6.72    14.800000
6.75    16.030000
6.76    15.570000
6.77    14.660000
6.80    12.043333
6.80     9.000000
6.81          NaN
6.82          NaN
6.84    38.000000
6.87    15.590000
6.88    13.980000
6.90    11.440000
6.92          NaN
6.93    13.520000
6.95    11.675331
6.97    14.426500
6.98    14.920800
6.99    12.769688
7.00     8.233333
7.01    15.472520
7.03    12.100000
7.04          NaN
7.05          NaN
7.06    12.443727
7.08    12.503550
7.10    11.752033
7.11     9.307667
7.13    13.265000
7.14    14.850000
7.15    10.620000
7.16    14.938279
7.17    11.795000
7.18    13.476242
7.19    17.532500
7.20    14.670000
7.21    12.920000
7.22    10.022000
7.23     8.698000
7.24    11.035000
7.25     9.022115
7.26    13.506334
7.27    18.000000
7.28     8.280000
7.29    15.410000
7.30    13.469182
7.31    17.655000
7.32    16.790000
7.33    13.465000
7.34    19.860000
7.35    15.100000
7.36    10.679694
7.37    15.935000
7.38    15.385000
7.39    15.655333
7.40    15.917000
7.41    17.460000
7.42    12.510000
7.43    15.940000
7.44     9.512667
7.45    10.808941
7.46          NaN
7.47    14.271523
7.48    13.046500
7.49    14.100933
7.50    16.957500
7.51    13.962000
7.52    11.186433
7.53     8.267000
7.54    17.400000
7.55    16.360000
7.56    13.600000
7.57    13.782333
7.58    16.390000
7.59    14.355500
7.60    12.273780
7.61    10.254500
7.62    11.484500
7.63    17.850000
7.64    12.330000
7.66    10.051000
7.67    16.239000
7.68    14.200000
7.69    12.290000
7.70    12.147750
7.71    14.640000
7.73          NaN
7.74     8.563385
7.75     8.212000
7.78    14.275000
7.80    13.580000
7.81    12.292333
7.82    14.810000
7.83          NaN
7.84    16.570000
7.85     9.360000
7.86    11.474000
7.88          NaN
7.89    16.800000
7.90    12.530000
7.91    14.060000
7.92    16.830000
7.95    10.241000
7.96          NaN
8.00    10.000000
8.12    15.575400
8.20    13.035000
8.30    14.733333
8.36     7.600000
8.40     9.340000
Name: Chloride, dtype: float64

In [218]:
pH_Chloride = parametersByDate.groupby('pH')['Phosphorus as P'].mean()
pH_Chloride

pH
4.90     40.000000
5.17     23.296880
5.18     35.415400
5.20     15.000000
5.25     24.500000
5.43     35.624740
5.47     30.000000
5.50     37.750000
5.60     82.500000
5.68     30.172900
5.70     20.000000
5.79     27.973650
5.80     80.000000
5.80     10.300000
5.82     29.628800
5.83     59.700000
5.90     18.000000
5.94     18.498180
5.95     26.304630
5.96     31.670075
5.97     21.000000
6.00     31.250000
6.07     21.000000
6.10     28.749924
6.12     32.200000
6.13     40.000000
6.18     67.900000
6.20     28.800000
6.24     16.900000
6.27     10.606840
6.30     15.500000
6.32     26.082690
6.33     33.000000
6.35     48.300000
6.37     47.100000
6.38     26.000000
6.40    130.000000
6.47     80.000000
6.50     64.000000
6.55     69.900000
6.56     40.200280
6.57     30.000000
6.58     31.800000
6.60     25.000000
6.61     55.200000
6.62     44.600000
6.63           NaN
6.64     26.693780
6.65     19.385140
6.68     53.378920
6.69     56.545825
6.70     25.471429
6.71     29.000000
6.72     89.000000
6.75     68.050000
6.76     34.100000
6.77     26.900000
6.80     67.100000
6.80     55.000000
6.81     86.800000
6.82     87.000000
6.84     70.000000
6.87     61.233333
6.88     64.100000
6.90     31.300000
6.92     62.100000
6.93     22.400000
6.95     58.541243
6.97     68.900000
6.98     75.334050
6.99     67.541923
7.00     53.706076
7.01     82.780043
7.03     82.000000
7.04     62.800000
7.05     40.667080
7.06     69.389607
7.08     46.650000
7.10     72.075000
7.11     79.433333
7.13     81.800000
7.14     39.900000
7.15     74.700000
7.16     89.584765
7.17     74.493217
7.18     67.175020
7.19     70.300000
7.20     93.166667
7.21     75.032813
7.22     70.450000
7.23     63.000000
7.24     75.790850
7.25     65.725040
7.26     66.949630
7.27    100.000000
7.28     67.000000
7.29    155.659220
7.30     79.847158
7.31    127.300000
7.32     87.553210
7.33    109.147731
7.34    104.850000
7.35     82.919197
7.36     86.056510
7.37     78.443738
7.38     72.647643
7.39     89.479636
7.40     78.516667
7.41     71.566350
7.42    119.300000
7.43     59.100000
7.44     75.133333
7.45     86.721605
7.46     72.900000
7.47     76.242764
7.48     89.675000
7.49     81.667785
7.50     73.788075
7.51     79.820000
7.52     71.845250
7.53    111.150000
7.54     81.800000
7.55     86.500000
7.56     77.000000
7.57     85.666667
7.58     85.381125
7.59     70.450000
7.60     97.168750
7.61     55.600000
7.62     99.500000
7.63     69.500000
7.64     76.600000
7.66     77.000000
7.67     96.850000
7.68     87.000000
7.69     78.875743
7.70    105.400000
7.71     77.800000
7.73    105.000000
7.74     60.590400
7.75    104.000000
7.78     71.550000
7.80     51.400000
7.81     98.000000
7.82     66.300000
7.83     74.698845
7.84     92.900000
7.85     73.000000
7.86           NaN
7.88     71.333010
7.89     75.500000
7.90     61.675000
7.91     71.650000
7.92     68.100000
7.95     67.000000
7.96     69.859780
8.00     36.159310
8.12     80.200000
8.20     66.350000
8.30    103.333333
8.36     90.000000
8.40     67.200000
Name: Phosphorus as P, dtype: float64

In [222]:
#Values are assigned based on mean values for different pH values and created new CSV file
df_classification = pd.read_csv('WaterAtlas-ManySites-Classification.csv')
df_classification.isnull().sum()

StationID                0
pH                       0
Specific conductance     0
Phosphorus as P          0
Dissolved oxygen (DO)    0
Nitrogen                 0
Chloride                 0
dtype: int64

In [144]:
#Validating new correlation vs old correlation values 
df_classification.corr()

,StationID,pH,Specific conductance,Phosphorus as P,Dissolved oxygen (DO),Nitrogen,Chloride
StationID,1.000000,0.008834,-0.139499,-0.119534,0.094358,0.014645,0.004827
pH,0.008834,1.000000,0.470862,0.423365,-0.233995,-0.341260,-0.317283
Specific conductance,-0.139499,0.470862,1.000000,0.383157,-0.351195,-0.280575,0.107616
Phosphorus as P,-0.119534,0.423365,0.383157,1.000000,-0.368522,-0.103207,-0.136565
Dissolved oxygen (DO),0.094358,-0.233995,-0.351195,-0.368522,1.000000,0.227591,0.184954
Nitrogen,0.014645,-0.341260,-0.280575,-0.103207,0.227591,1.000000,0.173041
Chloride,0.004827,-0.317283,0.107616,-0.136565,0.184954,0.173041,1.000000

In [145]:
df_classification.describe()

,StationID,pH,Specific conductance,Phosphorus as P,Dissolved oxygen (DO),Nitrogen,Chloride
count,3.980000e+02,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,2.016425e+06,7.088819,239.653266,68.332219,4.147814,775.060414,14.560190
std,5.712405e+06,0.652959,119.014175,42.084340,2.308984,556.599078,5.319995
min,7.320000e+02,4.900000,32.100000,0.000000,0.100000,90.000000,6.400000
25%,4.447200e+04,6.712500,170.099998,45.000000,2.245000,473.500000,11.145000
50%,4.453000e+04,7.300000,258.000000,69.373405,3.705000,630.950000,14.114247
75%,4.453000e+04,7.520000,305.750000,83.225000,6.135000,887.500000,16.822929
max,2.002056e+07,8.400000,1750.000000,370.000000,10.300000,5000.000000,65.100000

In [146]:
#Validating no of rows having <6.5 pH value. Just to decide the right value to assign values in new column SAFE-PH
df_classification[df_classification['pH'] <= 6.5].count()

StationID                72
pH                       72
Specific conductance     72
Phosphorus as P          72
Dissolved oxygen (DO)    72
Nitrogen                 72
Chloride                 72
dtype: int64

In [147]:
#Adding new column 'SAFE-PH'
df_classification['SAFE-PH'] = np.where((df_classification['pH']<=6.5) | (df_classification['pH']>8), 0, 1)

In [148]:
df_classification

,StationID,pH,Specific conductance,Phosphorus as P,Dissolved oxygen (DO),Nitrogen,Chloride,SAFE-PH
0,2237370,5.60,292.0,140.0,6.00,870.0,38.00,0
1,2237293,6.10,69.0,29.0,6.00,1559.0,12.00,0
2,2237370,5.50,220.0,10.0,4.00,870.0,30.00,0
3,2237293,6.00,87.0,31.0,7.00,760.0,18.00,0
4,2237293,5.90,78.0,18.0,7.00,567.0,15.00,0
...,...,...,...,...,...,...,...,...
393,44472,7.55,335.2,90.0,3.75,749.1,15.96,1
394,44530,6.99,154.2,74.8,6.96,955.8,15.56,1
395,44530,6.75,158.0,43.1,5.77,975.7,16.03,1
396,429591,7.37,340.5,85.8,2.34,712.4,16.35,1
397,44472,7.39,338.5,88.8,2.93,711.1,16.34,1

## 2. Train: Train a classifier to predict SAFE-PH using any two classification methods. Show its performance measures.

In [149]:
#Separating labels and features for the prediction and dropping PH-S value as we have assigned SAFE-PH-S from PH-S value
labels = np.array(df_classification['SAFE-PH'])
features= df_classification.drop('SAFE-PH', axis = 1)
features= features.drop('pH', axis = 1)
feature_list = list(features.columns)
# Convert to numpy array
features = np.array(features)
features

array([[2.237370e+06, 2.920000e+02, 1.400000e+02, 6.000000e+00,
        8.700000e+02, 3.800000e+01],
       [2.237293e+06, 6.900000e+01, 2.900000e+01, 6.000000e+00,
        1.559000e+03, 1.200000e+01],
       [2.237370e+06, 2.200000e+02, 1.000000e+01, 4.000000e+00,
        8.700000e+02, 3.000000e+01],
       ...,
       [4.453000e+04, 1.580000e+02, 4.310000e+01, 5.770000e+00,
        9.757000e+02, 1.603000e+01],
       [4.295910e+05, 3.405000e+02, 8.580000e+01, 2.340000e+00,
        7.124000e+02, 1.635000e+01],
       [4.447200e+04, 3.385000e+02, 8.880000e+01, 2.930000e+00,
        7.111000e+02, 1.634000e+01]])

In [150]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.2, stratify = labels, random_state = 42)
train_features

array([[4.44720000e+04, 2.27000000e+02, 5.60000000e+01, 3.00000000e+00,
        5.11000000e+02, 1.15090000e+01],
       [4.44720000e+04, 3.11000000e+02, 9.07000000e+01, 3.00000000e+00,
        7.26000000e+02, 1.40000000e+01],
       [7.32000000e+02, 2.01000000e+02, 1.80000000e+01, 8.50000000e+00,
        5.67000000e+02, 1.93250000e+01],
       ...,
       [4.44720000e+04, 3.06000000e+02, 8.65622500e+01, 2.07000000e+00,
        5.86231130e+02, 1.63900000e+01],
       [4.45300000e+04, 6.87000000e+01, 4.02002800e+01, 5.87000000e+00,
        1.45430419e+03, 1.50000000e+01],
       [4.44720000e+04, 2.87000000e+02, 1.20000000e+02, 2.00000000e+00,
        4.55000000e+02, 1.65000000e+01]])

In [297]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score, recall_score, classification_report

rf = RandomForestClassifier(n_estimators = 5, random_state = 42)
lr = LogisticRegression()
i=0
# Train the model on training data
kfolds = StratifiedKFold(n_splits=10, shuffle=True)
#kfolds = KFold(n_splits=10, shuffle=False)
for train, test in kfolds.split(train_features, train_labels):
    rf.fit(train_features[train], train_labels[train]);
    lr.fit(train_features[train], train_labels[train]);
    predictions_lr_fold = lr.predict(train_features[test])
    predictions_rf_fold = rf.predict(train_features[test])
    accuracy_lr_fold = classification_report(train_labels[test], predictions_lr_fold)
    accuracy_rf_fold = classification_report(train_labels[test], predictions_rf_fold)
    i=i+1;
    print('*********************************Fold'+str(i)+'*********************************')
    print('LogisticRegression:','\n', accuracy_lr_fold)
    print('----------------------------------------------------------------------------')
    print('RandomForestClassifier:','\n', accuracy_rf_fold)

*********************************Fold1*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.60      0.50      0.55         6
           1       0.89      0.92      0.91        26

    accuracy                           0.84        32
   macro avg       0.74      0.71      0.73        32
weighted avg       0.83      0.84      0.84        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.71      0.83      0.77         6
           1       0.96      0.92      0.94        26

    accuracy                           0.91        32
   macro avg       0.84      0.88      0.86        32
weighted avg       0.91      0.91      0.91        32

*********************************Fold2*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.50      0.17      0.25         6
           1       0.83      0.96      0.89        26

    accuracy                           0.81        32
   macro avg       0.67      0.56      0.57        32
weighted avg       0.77      0.81      0.77        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.83      0.83      0.83         6
           1       0.96      0.96      0.96        26

    accuracy                           0.94        32
   macro avg       0.90      0.90      0.90        32
weighted avg       0.94      0.94      0.94        32

*********************************Fold3*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       1.00      0.50      0.67         6
           1       0.90      1.00      0.95        26

    accuracy                           0.91        32
   macro avg       0.95      0.75      0.81        32
weighted avg       0.92      0.91      0.89        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.60      0.50      0.55         6
           1       0.89      0.92      0.91        26

    accuracy                           0.84        32
   macro avg       0.74      0.71      0.73        32
weighted avg       0.83      0.84      0.84        32

*********************************Fold4*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       1.00      0.17      0.29         6
           1       0.84      1.00      0.91        26

    accuracy                           0.84        32
   macro avg       0.92      0.58      0.60        32
weighted avg       0.87      0.84      0.79        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.80      0.67      0.73         6
           1       0.93      0.96      0.94        26

    accuracy                           0.91        32
   macro avg       0.86      0.81      0.84        32
weighted avg       0.90      0.91      0.90        32

*********************************Fold5*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       1.00      0.57      0.73         7
           1       0.89      1.00      0.94        25

    accuracy                           0.91        32
   macro avg       0.95      0.79      0.84        32
weighted avg       0.92      0.91      0.90        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.62      0.71      0.67         7
           1       0.92      0.88      0.90        25

    accuracy                           0.84        32
   macro avg       0.77      0.80      0.78        32
weighted avg       0.85      0.84      0.85        32

*********************************Fold6*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.50      0.29      0.36         7
           1       0.82      0.92      0.87        25

    accuracy                           0.78        32
   macro avg       0.66      0.60      0.62        32
weighted avg       0.75      0.78      0.76        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.67      0.29      0.40         7
           1       0.83      0.96      0.89        25

    accuracy                           0.81        32
   macro avg       0.75      0.62      0.64        32
weighted avg       0.79      0.81      0.78        32

*********************************Fold7*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.75      0.43      0.55         7
           1       0.86      0.96      0.91        25

    accuracy                           0.84        32
   macro avg       0.80      0.69      0.73        32
weighted avg       0.83      0.84      0.83        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.62      0.71      0.67         7
           1       0.92      0.88      0.90        25

    accuracy                           0.84        32
   macro avg       0.77      0.80      0.78        32
weighted avg       0.85      0.84      0.85        32

*********************************Fold8*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         7
           1       0.78      1.00      0.88        25

    accuracy                           0.78        32
   macro avg       0.39      0.50      0.44        32
weighted avg       0.61      0.78      0.69        32

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.67      0.57      0.62         7
           1       0.88      0.92      0.90        25

    accuracy                           0.84        32
   macro avg       0.78      0.75      0.76        32
weighted avg       0.84      0.84      0.84        32

*********************************Fold9*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.50      0.50      0.50         6
           1       0.88      0.88      0.88        25

    accuracy                           0.81        31
   macro avg       0.69      0.69      0.69        31
weighted avg       0.81      0.81      0.81        31

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       0.50      0.50      0.50         6
           1       0.88      0.88      0.88        25

    accuracy                           0.81        31
   macro avg       0.69      0.69      0.69        31
weighted avg       0.81      0.81      0.81        31

*********************************Fold10*********************************
LogisticRegression:
               precision    recall  f1-score   support

           0       0.67      0.33      0.44         6
           1       0.86      0.96      0.91        25

    accuracy                           0.84        31
   macro avg       0.76      0.65      0.68        31
weighted avg       0.82      0.84      0.82        31

----------------------------------------------------------------------------
RandomForestClassifier:
               precision    recall  f1-score   support

           0       1.00      0.83      0.91         6
           1       0.96      1.00      0.98        25

    accuracy                           0.97        31
   macro avg       0.98      0.92      0.94        31
weighted avg       0.97      0.97      0.97        31

/home/raxitg/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/raxitg/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/raxitg/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [298]:
#Training the model on train dataset and validating it with the test dataset
rf.fit(train_features, train_labels);
lr.fit(train_features, train_labels);
predictions_lr_test = lr.predict(test_features)
predictions_rf_test = rf.predict(test_features)
accuracy_lr_test = classification_report(test_labels, predictions_lr_test)
accuracy_rf_test = classification_report(test_labels, predictions_rf_test)
print('Accuracy Report for LogisticRegression on Test:','\n', accuracy_lr_test)
print('Accuracy Report for RandomForestClassifier on test:','\n', accuracy_rf_test)

Accuracy Report for LogisticRegression on Test:
               precision    recall  f1-score   support

           0       0.67      0.38      0.48        16
           1       0.86      0.95      0.90        64

    accuracy                           0.84        80
   macro avg       0.76      0.66      0.69        80
weighted avg       0.82      0.84      0.82        80

Accuracy Report for RandomForestClassifier on test:
               precision    recall  f1-score   support

           0       0.59      0.62      0.61        16
           1       0.90      0.89      0.90        64

    accuracy                           0.84        80
   macro avg       0.75      0.76      0.75        80
weighted avg       0.84      0.84      0.84        80

In [299]:
#Feature Importance on the prediction for the RandomForest Classifier
rf.feature_importances_

array([0.07260487, 0.19442327, 0.25442933, 0.14390908, 0.2151473 ,
       0.11948613])

In [300]:
#Feature Importance for the LogisticRegression Classifier
for feature,value in zip(feature_list,lr.coef_.tolist()[0]):
    print(feature,value)

StationID -1.4110009647764922e-08
Specific conductance 0.010176033203526743
Phosphorus as P 0.002780281489392095
Dissolved oxygen (DO) 1.8633121493186008e-05
Nitrogen -0.0008510946577270311
Chloride 0.0002246503583311974

## 3.Explain: Which places have the most unsafe water (by pH) and which least by occurrence? Show them on a map using latitude longitude information available in each row. Instructions for Google Earth are at: https://www.google.com/earth/outreach/learn/visualize-your-data-on-a-custom-map-using-google-my-maps/

In [160]:
#Creating new CSV file where line contains pH
file1 = open('WaterAtlas-ManySites.csv', 'r')
Lines = file1.readlines()

file1 = open('WaterAtlas-ManySites-Map.csv', 'w')
count = 0
for line in Lines:
    length = len(line.split(','))
    if(line.find(',pH,') != -1):
        if length==17:
            file1.writelines(line)
    elif(count == 0):
        file1.writelines(line)
        count=count+1
file1.close()

In [272]:
#Load new CSV and select required column for loading data into map 
mapCSV = pd.read_csv('WaterAtlas-ManySites-Map.csv')
mapCSV
mapCSV_reqiored_columns = pd.DataFrame(mapCSV, columns = ['StationID','Latitude_DD','Longitude_DD','SampleDate','ResultValue','WaterbodyName'])
mapCSV_reqiored_columns

,StationID,Latitude_DD,Longitude_DD,SampleDate,ResultValue,WaterbodyName
0,Bugg Springs-Lake,28.753610,-81.904440,1991-08-18 00:00:00.000,7.50,Bugg Spring
1,Bugg Springs-Lake,28.753610,-81.904440,1991-03-10 00:00:00.000,7.70,Bugg Spring
2,Bugg Springs-Lake,28.753610,-81.904440,1991-08-18 00:00:00.000,7.60,Bugg Spring
3,Church-Lake,28.646250,-81.843420,1995-02-13 00:00:00.000,5.90,Church Lake
4,Turkey-Lake,28.701280,-81.850390,1995-02-13 00:00:00.000,6.10,Turkey Lake
...,...,...,...,...,...,...
467,44530,28.748033,-81.874853,2020-10-19 10:20:00.000,6.76,Palatlakaha River
468,44530,28.748033,-81.874853,2019-12-11 10:12:00.000,6.95,Palatlakaha River
469,44530,28.748033,-81.874853,2017-12-14 10:36:00.000,7.01,Palatlakaha River
470,44530,28.748033,-81.874853,2020-12-15 10:36:00.000,6.99,Palatlakaha River
471,44530,28.748033,-81.874853,2018-12-19 10:43:00.000,6.70,Palatlakaha River

In [273]:
#Creating new column 'SAFEPH'. SAFEPH values are assigned based on the pH values (e.g, 6.5<=pH<8 is Safe Water) 
mapCSV_reqiored_columns['SAFEPH'] = np.where((mapCSV_reqiored_columns['ResultValue']>8)|(mapCSV_reqiored_columns['ResultValue']<=6.5), 'SAFE_WATER', 'UNSAFE_WATER')
mapCSV_reqiored_columns

,StationID,Latitude_DD,Longitude_DD,SampleDate,ResultValue,WaterbodyName,SAFEPH
0,Bugg Springs-Lake,28.753610,-81.904440,1991-08-18 00:00:00.000,7.50,Bugg Spring,UNSAFE_WATER
1,Bugg Springs-Lake,28.753610,-81.904440,1991-03-10 00:00:00.000,7.70,Bugg Spring,UNSAFE_WATER
2,Bugg Springs-Lake,28.753610,-81.904440,1991-08-18 00:00:00.000,7.60,Bugg Spring,UNSAFE_WATER
3,Church-Lake,28.646250,-81.843420,1995-02-13 00:00:00.000,5.90,Church Lake,SAFE_WATER
4,Turkey-Lake,28.701280,-81.850390,1995-02-13 00:00:00.000,6.10,Turkey Lake,SAFE_WATER
...,...,...,...,...,...,...,...
467,44530,28.748033,-81.874853,2020-10-19 10:20:00.000,6.76,Palatlakaha River,UNSAFE_WATER
468,44530,28.748033,-81.874853,2019-12-11 10:12:00.000,6.95,Palatlakaha River,UNSAFE_WATER
469,44530,28.748033,-81.874853,2017-12-14 10:36:00.000,7.01,Palatlakaha River,UNSAFE_WATER
470,44530,28.748033,-81.874853,2020-12-15 10:36:00.000,6.99,Palatlakaha River,UNSAFE_WATER
471,44530,28.748033,-81.874853,2018-12-19 10:43:00.000,6.70,Palatlakaha River,UNSAFE_WATER

In [274]:
#Export CSV file to load into google map to plot the points 
mapCSV_reqiored_columns.to_csv('mapCSV_reqiored_columns.csv', index=False)

In [289]:
#Creating separate dataframe which has count for SAFE and UNSAFE water by stationID.
def getColumnCounts(x):
    d = {}
    d['UNSAFE_WATER']=x[x['SAFEPH']=='UNSAFE_WATER'].shape[0]
    d['SAFE_WATER']=x[x['SAFEPH']=='SAFE_WATER'].shape[0]
    #x[x['SAFEPH']=='SAFE_WATER'].shape[0]
    return pd.Series(d)

map_count_df = mapCSV_reqiored_columns.groupby(['WaterbodyName','StationID','Latitude_DD','Longitude_DD']).apply(getColumnCounts).reset_index()
map_count_df

,WaterbodyName,StationID,Latitude_DD,Longitude_DD,UNSAFE_WATER,SAFE_WATER
0,Bugg Spring,11367,28.751987,-81.901517,1,0
1,Bugg Spring,429591,28.751968,-81.901583,16,0
2,Bugg Spring,940,28.751943,-81.901664,1,0
3,Bugg Spring,941,28.751943,-81.901664,16,0
4,Bugg Spring,Bugg Springs-Lake,28.753610,-81.904440,3,0
5,Bugg Spring Run,20020562,28.754100,-81.900602,3,0
6,Bugg Spring Run,44472,28.752847,-81.901667,112,5
7,Church Lake,02237370,28.645000,-81.846400,2,11
8,Church Lake,732,28.642111,-81.840597,10,14
9,Church Lake,Church-Lake,28.646250,-81.843420,0,1
10,Kess Lake,42420,28.664713,-81.842010,0,2
11,Kess Lake,54170,28.663611,-81.849444,0,1
12,Moon Lake,898,28.632746,-81.859896,3,1
13,Palatlakaha River,02237293,28.744200,-81.872800,10,11
14,Palatlakaha River,20020324,28.747222,-81.874861,27,2
15,Palatlakaha River,20020330,28.679167,-81.884778,8,13
16,Palatlakaha River,20020464,28.737240,-81.871092,2,0
17,Palatlakaha River,22519,28.753987,-81.874909,0,2
18,Palatlakaha River,44530,28.748033,-81.874853,151,26
19,Palatlakaha River,54153,28.750833,-81.875833,2,0
20,Palatlakaha River,54165,28.720278,-81.884444,0,1
21,Palatlakaha River,57032,28.743951,-81.873010,0,1
22,Palatlakaha River,79092,28.754084,-81.875130,2,2
23,Palatlakaha River,817,28.679456,-81.884452,0,1
24,Palatlakaha River,818,28.747893,-81.874693,1,0
25,Palatlakaha River,PLRVBRIDRD,28.679615,-81.884571,0,1
26,Turkey Lake,921,28.698290,-81.852078,2,0
27,Turkey Lake,Turkey-Lake,28.701280,-81.850390,0,2

In [279]:
#Exporting above mentioned data frame to load into google map
map_count_df.to_csv('mapPlotData.csv', index=False)

In [291]:
#Calculating SAFE and UNSAFE water count by WaterbodyName 
mapCSV_reqiored_columns.groupby('WaterbodyName').SAFEPH.value_counts().rename('Count').to_frame().reset_index()

        WaterbodyName        SAFEPH  Count
0         Bugg Spring  UNSAFE_WATER     37
1     Bugg Spring Run  UNSAFE_WATER    115
2     Bugg Spring Run    SAFE_WATER      5
3         Church Lake    SAFE_WATER     26
4         Church Lake  UNSAFE_WATER     12
5           Kess Lake    SAFE_WATER      3
6           Moon Lake  UNSAFE_WATER      3
7           Moon Lake    SAFE_WATER      1
8   Palatlakaha River  UNSAFE_WATER    203
9   Palatlakaha River    SAFE_WATER     60
10        Turkey Lake    SAFE_WATER      2
11        Turkey Lake  UNSAFE_WATER      2

In [252]:
#Calculating SAFE and UNSAFE water count by StationID
mapCSV_reqiored_columns.groupby('StationID').SAFEPH.value_counts().rename('Count').to_frame().reset_index()

            StationID        SAFEPH  Count
0            02237293    SAFE_WATER     11
1            02237293  UNSAFE_WATER     10
2            02237370    SAFE_WATER     11
3            02237370  UNSAFE_WATER      2
4               11367  UNSAFE_WATER      1
5     20020324         UNSAFE_WATER     27
6     20020324           SAFE_WATER      2
7     20020330           SAFE_WATER     13
8     20020330         UNSAFE_WATER      8
9            20020464  UNSAFE_WATER      2
10           20020562  UNSAFE_WATER      3
11              22519    SAFE_WATER      2
12              42420    SAFE_WATER      2
13             429591  UNSAFE_WATER     16
14              44472  UNSAFE_WATER    112
15              44472    SAFE_WATER      5
16              44530  UNSAFE_WATER    151
17              44530    SAFE_WATER     26
18              54153  UNSAFE_WATER      2
19              54165    SAFE_WATER      1
20              54170    SAFE_WATER      1
21              57032    SAFE_WATER      1
22                732    SAFE_WATER     14
23                732  UNSAFE_WATER     10
24              79092    SAFE_WATER      2
25              79092  UNSAFE_WATER      2
26               8108  UNSAFE_WATER      2
27               8136  UNSAFE_WATER      1
28                817    SAFE_WATER      1
29                818  UNSAFE_WATER      1
30                898  UNSAFE_WATER      3
31                898    SAFE_WATER      1
32                921  UNSAFE_WATER      2
33                940  UNSAFE_WATER      1
34                941  UNSAFE_WATER     16
35  Bugg Springs-Lake  UNSAFE_WATER      3
36        Church-Lake    SAFE_WATER      1
37         PLRVBRIDRD    SAFE_WATER      1
38        Turkey-Lake    SAFE_WATER      2

In [294]:
#Loading screenshot of google map. Link is mentioned below. Showing UNSAFE water count with the location
#https://www.google.com/maps/d/u/0/edit?mid=1LFqbF9ZLVNCTQQSP-f-ILDld_b6uTYsq&ll=28.69341780790044%2C-81.87251868&z=13
from IPython.display import IFrame
IFrame("2.png", width=950, height=600)

In [295]:
#Loading screenshot of google map. Link is mentioned below. SHowing data by SAFE and UNSAFE water groups (0 - UNSAFE,1-SAFE)
#https://www.google.com/maps/d/u/0/edit?mid=16hBKWPNegCIO1tT0GD6efAhGq4_9Xvin&ll=28.69341780790044%2C-81.87251868&z=13
from IPython.display import IFrame
IFrame("3.png", width=950, height=600)